:root {
    --margin: 0.5rem;
}

body {
    padding: 2rem;
}

#item-name, #item-calories {
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: var(--margin);
}

#add-btn, #clear-btn {
    font-size: large;
    margin: var(--margin);
}

.items {
    font-size: 1.2rem;
    margin: var(--margin);
}



